.list {
    list-style: none;
    width: 100%;
    max-width: 900px;

    align-self: center;
    background-color: hsla(250, 75%, 5%, 0.5);

    border-radius: 0px 0px 0 18px;

    box-shadow: 0 18px 55px 3px hsla(250, 75%, 55%, 0.18);

    overflow-y: auto;
    max-height: 63dvh;
}

.list::-webkit-scrollbar {
    width: 3px;
}

.list::-webkit-scrollbar-thumb {
    background-color: hsla(270, 90%, 55%, 0.5);
    border-radius: 0 3px 3px 0;
    border: 2px solid transparent;
}
